body {
    font-family: Arial;
    margin: 40px;
    background: #f7f7f7;
}

.container {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 14px;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #0056d6;
}

h1, h2 {
    color: #222;
}
.project-card {
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
